.card {
  margin: 20px;
  width: 18rem;
  background-color: white;
  border: 8px solid rgba(28,110,164,0.78);
  border-radius: 40px;
  text-align: center;
  margin-bottom: 10px;
  color: #444444;
background: #FFFFFF;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
font-size: 25px
}


.botonDetalle {
  margin-bottom: 10px;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.botonDetalle:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.botonDetalle:active {
	position:relative;
	top:1px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.bandera{
  height: 100px;
 width: 200px;
 border: 5px solid #000000;
border-radius: 40px;
}
